<div class="container">
  <h1>Author: {{ book.name }}</h1>
  <dl class="list">
    <dt>Heading:</dt>
    <dd>{{ book.heading }}</dd>
    <dt>Content</dt>
    <dd>{{ book.content }}</dd>
    <dt>Publish Year</dt>
    <dd>{{ book.published_date }}</dd>
  </dl>
  <br>
  <div class="row">
    <div class="col-md-12">

      <a [routerLink]="['/books']" class="btn btn-success">back</a>
      <a [routerLink]="['/book-edit', book._id]" class="btn btn-success">EDIT</a>
      <button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">DELETE</button>

    </div>
  </div>
</div>
<div class="row">
</div>
